@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bzyp3n');
  src:  url('fonts/icomoon.eot?bzyp3n#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bzyp3n') format('truetype'),
    url('fonts/icomoon.woff?bzyp3n') format('woff'),
    url('fonts/icomoon.svg?bzyp3n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-helm:before {
  content: "\e900";
  color: #fff;
}
.icon-serverless:before {
  content: "\e901";
  color: #fff;
  font-size: 70px;
  margin: 10px 0;
}
.icon-kubernetes:before {
  content: "\e902";
  color: #fff;
}


:root {
  --marquee-width: 100vw;
  --marquee-height: 20vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 10;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
  font-family: 'Ubuntu', sans-serif;
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: #000;
  color: #eee;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.marquee:before {
  left: 0;
  background: linear-gradient(to right, #000 0%, transparent 100%);
}

.marquee:after {
  right: 0;
  background: linear-gradient(to left, #000 0%, transparent 100%);
}

.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
  animation-fill-mode: both;
}

.line2 {
    animation: scrollingSlow var(--marquee-animation-duration) linear infinite;
    animation-fill-mode: both;
    margin: 0;
}

.line3 {
    animation: scrollingFast var(--marquee-animation-duration) linear infinite;
    animation-fill-mode: both;
}

.marquee-content:hover {
    animation-play-state: paused;
  }

.marquee-content li:hover {
    transform: scale(1.1);
    opacity: 1;
    color: white;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5) ;
    cursor: pointer;
}

.marquee-content li{
  display: flex;
  flex-direction: column;
  font-size: 17px !important;
}

.marquee-content i{
  display: flex;
  flex-direction: column;
  font-size: 90px !important;
}

.marquee-content span{
  display: flex;
  flex-direction: column;
  font-size: 90px !important;
}

@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)/1.4)); }
}

@keyframes scrollingSlow {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)/1.2)); }
}
  
@keyframes scrollingFast {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}

.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  white-space: nowrap;
  opacity: 0.5;
  transition: all 150ms ease-in-out;
}

.marquee-content li img {
  width: 100%;
  /* height: 100%; */
  border: 2px solid #eee;
}

@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before, .marquee:after { width: 5rem; }
}