* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 26px;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    background-color: black;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1em 5em;
    width: 100%;
    z-index: 2;
    background-color: white;
}

.header {
    text-align:center;
    color:white;
    background-color: white;
  }
  
  .flex {
    display: flex;
    flex-direction: column;
  }
  
  .waves {
    width: 100%;
    height:15vh;
    margin-bottom:-10px;
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    background-color: black;
  }
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }

  .head{
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0 auto;
      width: 85vw;
  }

  .left{
    text-align: left;
  }

  .right{
    right: 27%;
    text-align: right;
    position: absolute;
    z-index: 1;
  }

  .logo {
    width: 12em;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    filter:grayscale() brightness(100);
    position: absolute;
    top: -3em;
    left: 0;
    margin: auto;
}

.footerLogo{
    width: 3em;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    filter:grayscale() brightness(100);
    margin: 0.5em auto;
}

.blob {
    position: absolute;
    top: -10em;
    left: -5em;
    z-index: -1;
    fill: #FF0000;
    width: 30vmax;
    z-index: -1;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
  }
  
  @keyframes move {
    0%   { transform: scale(1); }
    38%  { transform: scale(0.8, 1) rotate(160deg); }
    40%  { transform: scale(0.8, 1) rotate(160deg); }
    78%  { transform: scale(1.1) rotate(-20deg); }
    80%  { transform: scale(1.1) rotate(-20deg); }
    100% { transform: scale(1); }
  }

.titull {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25vh auto;
    border-radius: 50px;
    cursor: default;
    text-align: left;
}

.right-align{
    margin-left: 15%;
}

#container {
	position: absolute;
	margin: 0 auto;
    padding: 0;
	width: 50%;
    height: 1.5em;
	filter: url(#threshold) blur(0.6px);
}

#filters{
    height: 1.5em;
}

#text1, #text2 {
	position: absolute;
	width: 100%;
	display: inline-block;
    font-family: "Ubuntu", sans-serif;
	font-size: 2.5em;
  font-weight: bold;
	text-align: left;
	user-select: none;
    color: red;
}

.motto {
    color: #777;
    font-size: 1em;
    margin-top: 0em;
    transition: all 0.3s ease 0s;
}

.custom-btn {
    color: #fff;
    border-radius: 50px;
    padding: 0.4em 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    display: inline-block;
    outline: none;
  }

.button {
    background: red;
    border: none;
    z-index: 1;
    border: 2px solid red;
  }
.button:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: white;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
.button:hover {
    color: red;
    text-decoration: none;
    border: 2px solid red;
  }
.button:hover:after {
    left: 0;
    width: 100%;
  }
.button:active {
    top: 2px;
  }

  .textContainer{
      margin-bottom: 3em;
  }

  .nav_links li,
a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    color: #777;
    text-decoration: none;
}

.nav_links {
    list-style: none;
    margin: 0px;
}

.nav_links li {
    display: inline-block;
    margin: 0px 0.5em;
}

.nav_links li a {
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 50px;
}

.nav_links li a:hover {
    color: white;
    background-color: red;
}

.ig {
    font-size: 1.2em;
    color: white;
    transition: all 0.3s ease 0s;
    border-radius: 50px;
    padding: 1px 10px 0px 10px;
    background-color: red;
}

.ig:hover {
    color: white;
    background-color: black;
    
}

.section {
    width: 100vw;
    height: 100vh;
}

.about {
  width: 50%;
    color: white;
    padding: 2em auto 0 auto;
    top: 20px;
    scroll-margin-top: 25vh;
}

.about-wrapper{
  width: 80vw;
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.illustration{
position: relative;
}

.guy{
margin: 5em 7em;
width: 400px;
z-index: 10;
top: 0;
left: 0;
position: relative;
}

.white-blob{
  width: 27em;
  top: 4em;
  left: 3em;
  z-index: 0;
  position: absolute;
}

#technologies{
  margin: 5em 0;
  scroll-margin-top: 5em;
}

.projects{
  position: relative;
  scroll-margin-top: 0em;
}

.projects h1{
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 5;
  font-weight: bold;
  font-size: 3em;
  text-shadow: 0px 0px 2px white;
}

.cont {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .slider {
    position: relative;
    height: 100%;
    transform: translate3d(0, 0, 0);
    will-change: transform;
    cursor: all-scroll;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .slider.animation {
    transition: transform 750ms ease-in-out;
  }
  .slider.animation .slide__darkbg {
    transition: transform 750ms ease-in-out;
  }
  .slider.animation .slide__text {
    transition: transform 750ms ease-in-out;
  }
  .slider.animation .slide__letter {
    transition: transform 750ms ease-in-out;
  }
  
  .slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .slide--1 {
    left: 0%;
  }
  .slide--2 {
    left: 100%;
  }
  .slide__darkbg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    will-change: transform;
    z-index: 10;
  }
  .slide__text-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 15;
  }
  .slide__letter {
    font-family: "Ubuntu", sans-serif;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    -webkit-text-fill-color: transparent !important;
    background-clip: text;
    -webkit-background-clip: text !important;
    font-size: 35vw;
    font-weight: 800;
    color: #000;
    z-index: 2;
    will-change: transform;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .slide__text {
    font-size: 5vw;
    font-weight: 800;
    text-transform: uppercase;
    transform: translate3d(0, 0, 0);
    letter-spacing: 12px;
    color: #fff;
    will-change: transform;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            font-family: "Ubuntu", sans-serif;
  }
  .slide__text:nth-child(odd) {
    z-index: 2;
  }
  .slide__text:nth-child(even) {
    z-index: 2;
  }
  .slide--1__darkbg {
    left: 0%;
    background: url("/assets/img/finitefields.png") center center no-repeat;
    background-size: cover;
    background-position: 0px center, 0px center;
    transform: translate3d(0, 0, 0);
    will-change: transform;
  }
  .slide--1__darkbg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 15, 39, 0.83);
  }
  .slide--1__letter {
    background: url("/assets/img/finitefields.png") center center no-repeat;
    background-position: 0px center, 0px center;
    background-size: cover;
  }
  .slide--2__darkbg {
    left: -50%;
    background: url("/assets/img/albanrenovation.png") center center no-repeat;
    background-size: cover;
    background-position: 0px center, 0px center;
    transform: translate3d(0, 0, 0);
    will-change: transform;
  }
  .slide--2__darkbg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 15, 39, 0.83);
  }
  .slide--2__letter {
    background: url("/assets/img/albanrenovation.png") center center no-repeat;
    background-position: 0px center, 0px center;
    background-size: cover;
  }
  .slide--3__darkbg {
    left: -100%;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city--3-min-min.jpg") center center no-repeat;
    background-size: cover;
    background-position: 0px center, 0px center;
    transform: translate3d(0, 0, 0);
    will-change: transform;
  }
  .slide--3__darkbg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 15, 39, 0.83);
  }
  .slide--3__letter {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city--3-min-min.jpg") center center no-repeat;
    background-position: 0px center, 0px center;
    background-size: cover;
  }
  .slide--4__darkbg {
    left: -150%;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city--4-min-min.jpg") center center no-repeat;
    background-size: cover;
    background-position: 0px center, 0px center;
    transform: translate3d(0, 0, 0);
    will-change: transform;
  }
  .slide--4__darkbg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 15, 39, 0.83);
  }
  .slide--4__letter {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city--4-min-min.jpg") center center no-repeat;
    background-position: 0px center, 0px center;
    background-size: cover;
  }
  .slide--5__darkbg {
    left: -200%;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city--5-min-min.jpg") center center no-repeat;
    background-size: cover;
    background-position: 0px center, 0px center;
    transform: translate3d(0, 0, 0);
    will-change: transform;
  }
  .slide--5__darkbg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 15, 39, 0.83);
  }
  .slide--5__letter {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city--5-min-min.jpg") center center no-repeat;
    background-position: 0px center, 0px center;
    background-size: cover;
  }
  
  .nav {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    list-style-type: none;
    z-index: 10;
  }
  .nav__slide {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: 10px;
    cursor: pointer;
  }
  @media screen and (max-width: 400px) {
    .nav__slide {
      width: 22px;
      height: 22px;
    }
  }
  .nav__slide:hover:after {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
  }
  .nav__slide:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0, 0);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
    transition: 300ms;
  }
  .nav__slide--1 {
    margin-left: 0;
  }
  
  .nav-active:after {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
  }
  
  .side-nav {
    position: absolute;
    width: 10%;
    height: 100%;
    top: 0;
    z-index: 20;
    cursor: pointer;
    opacity: 0;
    transition: 300ms;
  }
  .side-nav:hover {
    opacity: 0.1;
  }
  .side-nav--right {
    right: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #eed7ff 100%);
  }
  .side-nav--left {
    left: 0;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, #eed7ff 100%);
  }