* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 26px;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    background-color: white;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1em 5em;
    width: 100%;
    z-index: 2;
}

.header {
    position:relative;
    text-align:center;
    color:white;
  }
  
  .flex {
    display: flex;
  }
  
  .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-10px;
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:100vh;
    background-color: black;
  }

  .wrapper{
      width: 80vw;
      margin: 0 auto;
      text-align: left;
  }
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }

  .head{
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0 auto;
      width: 80vw;
  }

  .left{
    width: 70%;
    text-align: left;
  }

  .right{
    width: 30%;
    text-align: right;
    position: relative;
  }

  .logo {
    width: 10em;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    filter:grayscale() brightness(100);
    position: absolute;
    top: -3em;
    left: 0;
    margin: auto;
}

.blob {
    position: absolute;
    top: -10em;
    left: -5em;
    z-index: -1;
    fill: #FF0000;
    width: 30vmax;
    z-index: -1;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
  }
  
  @keyframes move {
    0%   { transform: scale(1); }
    38%  { transform: scale(0.8, 1) rotate(160deg); }
    40%  { transform: scale(0.8, 1) rotate(160deg); }
    78%  { transform: scale(1.1) rotate(-20deg); }
    80%  { transform: scale(1.1) rotate(-20deg); }
    100% { transform: scale(1); }
  }

.titull {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 7em auto;
    border-radius: 50px;
    cursor: default;
    text-align: left;
}

.right-align{
    margin-left: 25%;
}

#container {
	position: absolute;
	margin: 0 auto;
    padding: 0;
	width: 50%;
    height: 1.5em;
	filter: url(#threshold) blur(0.6px);
}

#filters{
    height: 1.5em;
}

#text1, #text2 {
	position: absolute;
	width: 100%;
	display: inline-block;
    font-family: "Ubuntu", sans-serif;
	font-size: 1.5em;
	text-align: left;
	user-select: none;
    color: red;
}

.motto {
    color: gray;
    font-size: 2vw;
    transition: all 0.3s ease 0s;
}

.custom-btn {
    color: #fff;
    border-radius: 50px;
    padding: 0.4em 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    display: inline-block;
    outline: none;
  }

.button {
    background: red;
    border: none;
    z-index: 1;
    border: 2px solid red;
  }
.button:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: white;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
.button:hover {
    color: red;
    text-decoration: none;
    border: 2px solid red;
  }
.button:hover:after {
    left: 0;
    width: 100%;
  }
.button:active {
    top: 2px;
  }

  .textContainer{
      margin-bottom: 3em;
  }

li,
a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    color: black;
    text-decoration: none;
}

.nav_links {
    list-style: none;
    margin: 0px;
}

.nav_links li {
    display: inline-block;
    margin: 0px 1em;
}

.nav_links li a {
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    padding: 5px 10px;
}

.nav_links li a:hover {
    color: white;
    letter-spacing: 1px;
    background-color: red;
    border-radius: 50px;
}

.ig {
    font-size: 1.2em;
    color: white;
    transition: all 0.3s ease 0s;
    border-radius: 50px;
    padding: 1px 10px 0px 10px;
    background-color: red;
}

.ig:hover {
    color: white;
    background-color: black;
    
}

.section {
    width: 100vw;
    height: 100vh;
}

.about {
    color: white;
    padding: 2em 0px;
}

.projects-div{
    color: white;
    height: 90vh;
    padding: 10em 0px;
}

.projects{
    color: white;
}

.grid-container{
    justify-items: center;
}

.grid{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 400px;
}

.parent {
    border-radius: 50px;
    width: 100%; 
    margin: 1px;
    height: 400px;
    overflow: hidden;
    cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .5s;
}

.bg-one {
    background-image: url(/assets/placeholder.jpg); 
    background-position: center; 
    background-size: 200%;
}

.bg-two {
    background-image: url(/assets/placeholder.jpg);
    background-position: center; 
    background-size: 200%;
}

.bg-three {
    background-image: url(/assets/placeholder.jpg);
    background-position: center; 
    background-size: 200%;
}

.projekt-name {
    display: none;
    font-size: 40px;
    color: #ffffff !important;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
}

.parent:hover .child, .parent:focus .child {
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover h1, .parent:focus h1 {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px) brightness(0.5);
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    zoom: 1.3;
    filter: hue-rotate(-20deg)
}

.comingSoon{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84vh;
}